

#mtcontainer .content { margin: 0; }

div.product-title { font-size: 125%; }

/**** Isotope CSS3 transitions ****/
#mtcontainer {
	overflow: visible !important;
	padding: 0;
	position: relative; }

.isotop-loading {
	background: url(images/loading.gif) no-repeat 50% 50%;
	height: 50px;
	position:absolute;
	top:0;
	width: 100%;
	z-index: 99; }

/**** Isotope Filtering ****/
.isotope-item { z-index: 2; }

.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1; }

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	transition-duration: 0.8s; }

.isotope {
	-webkit-transition-property: height, width;
	transition-property: height, width; }

	.isotope .isotope-item {
		-webkit-transition-property: -webkit-transform, opacity;
		transition-property: transform, opacity; }

	/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
		-webkit-transition-duration: 0s;
		transition-duration: 0s; }

	/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
		-webkit-transition: none;
		transition: none; }

.element {
	display: none;
	float: left;
	margin: 0 14px 26px 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	text-align: center; }

/**** Example Options ****/
#options {
	height: 30px;
	line-height: 30px;
	margin: 0;
	padding: 43px 0 32px; }

	#options h3 { outline: none; }

	#options h4 { font-weight: bold; }

	#options ul {  }

		#options ul ul {  }

	#options li {
		display: inline;
		outline: none; }

		#options li a {
			-webkit-border-radius: 2px;
			-webkit-transition: all 400ms ease-in-out 0s;
			border-radius: 2px;
			display: block;
			float: left;
			font-size: 12px;
			height: 30px;
			line-height: 30px;
			cursor:pointer;
			margin: 0 0 0 3px;
			outline: none;
			padding: 0 11px;
			transition: all 400ms ease-in-out 0s; }

			#options li a.selected { font-weight: bold; }

			#options li a:hover { text-decoration: none; }

	#options .option-combo {
		display: inline-block;
		float: left;
		margin-right: 10px; }

		#options .option-combo ul {
			display: inline-block;
			margin-right: 20px; }

	#options ul#sort-direction { margin: 0; }

	#options .option-combo h2, 
#options .option-combo h4 {
		display: inline-block;
		line-height: 34px;
		margin-bottom: 0;
		margin-right: 5px;
		vertical-align: top; }
	.ajax-product-container {
		width: 100% !important;
    }
    .mainproduct {
    }
	.mainproduct .item{ margin:0 14px 20px 0; min-height:430px; }
	.mainproduct .item.last{ margin-right:0 }


/* @media (min-width: 940px) and (max-width: 1170px) {
	#mtcontainer .element {
		
	}
}
 @media (min-width: 768px) and (max-width: 979px) {
	#mtcontainer .element {
		
	}
}
@media (max-width: 767px) {
	#mtcontainer .element {
	
	}
}
@media (max-width: 480px) {
	#mtcontainer .element {
		
	}	
} */