

/**CHANGE STYLE COLOR**/
#panel {
	background-color: #FFFFFF;
	border: 1px solid #E1E1E1;
	color: #6B6B6B;
	left: -393px;
	position: fixed;
	top: 50px;
	width: 391px;
	z-index: 1000; }

ul.listpanel {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 100%; }

	ul.listpanel li {
		float: left;
		font-size: 12px;
		padding: 2px 0;
		width: 100%; }

.mainheader {
	background-color: #F5F5F5;
	color: #1D1C1B;
	font-size: 15px;
	font-weight: 400;
	line-height: 15px;
	padding: 16px 0;
	text-align: center;
	text-transform: uppercase; }

.btn-slide {
	background: url("../images/general/bg_stoggle.png") no-repeat 0 0;
    border: 1px solid #E1E1E1;
    border-left: none;
	cursor: pointer;
	display: block;
	float: right;
	height: 178px;
	margin: 20px -39px 0 0;
	text-indent: -9999px;
	width: 38px; }

	.btn-slide.active { background-position: -38px 0; }

#panel fieldset { padding: 23px 19px 19px; }

#panel p.border { border-top: 1px solid #D8D8D8; }

#panel p {
	float: left;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	text-align: left;
	width: 100%; }

	#panel p.border span {
		background: #FFFFFF;
		float: left;
		margin: -10px 0 0 -10px;
		padding: 0 10px; }

#panel span.mttitle {
	border-top: 1px solid #D8D8D8;
	cursor: pointer;
	float: left;
	font-size: 13px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	padding: 6px 0 0;
	text-align: left;
	width: 100%; }

    #panel span.mttitle span.arrows, #panel span.mttitle span.current{
        float: right;
        height: 13px;
        width: 16px;
    }

	#panel span.mttitle span.arrows {
		background: url('../images/general/collapse.png') no-repeat left top; }

	#panel span.mttitle span.current {
		background: url('../images/general/expand.png') no-repeat left top; }

ul.scolors {
	float: left;
	list-style: none outside none;
	margin: 11px 0 18px;
	overflow: hidden;
	padding: 0;
	width: 100%; }

	ul.scolors li {
		float: left;
		margin: 0 3px 3px 0; }

		ul.scolors li a {
			border: 1px dotted transparent;
			outline: none; }

			ul.scolors li a.active { border: 1px dotted #000; }

			ul.scolors li a.red { background-color: #ff4f4f; }

			ul.scolors li a.green { background-color: #5dba5d; }

			ul.scolors li a.blue { background-color: #89b9c5; }

		ul.scolors li a {
			cursor: pointer;
			display: block;
			height: 28px;
			width: 37px; }

.mainsetting {
	display: block;
	float: left;
	width: 100%; }

.bakcolor, .textcolor, .linkcolor {
	float: left;
	padding: 0 10px 0 0;
	text-align: left;
	width: 106px; }

#panel input {
	border: 0px;
	color: #333;
	height: 17px;
	text-transform: uppercase;
	width: 70px; }

#mColorPicker { z-index: 1030; }

.mColorPickerTrigger {
	position: relative;
	top: -4px; }

.btn-reset, .btn-apply {
	float: left;
	padding: 0 0 10px 0;
	width: 50%; }

.btn-reset button.btreset {
	-webkit-border-radius: 3px;
	background: none;
	border-radius: 3px;
	border: 0 none;
	cursor: pointer;
	height: 35px;
	margin: 0;
	padding: 0; }

	.btn-reset button.btreset span {
		-webkit-border-radius: 3px;
		-webkit-transition: background 300ms ease-in-out 0s;
		background-color: #9fa75c;
		border-radius: 3px;
		color: #FFFFFF;
		float: left;
		margin: 0;
		outline: none;
		padding: 9px 20px 8px;
		text-align: center;
		text-transform: uppercase;
		transition: background 300ms ease-in-out 0s; }

	.btn-reset button.btreset:hover span, .btn-apply button.button:hover span { background: #90e6dd; }

.btn-apply button.button span {
	-webkit-transition: background 300ms ease-in-out 0s;
	background: none repeat scroll 0 0 #CD1507;
	color: #FFFFFF;
	float: left;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	height: 35px;
	line-height: 35px;
	padding: 0 18px;
	text-align: center;
	text-transform: uppercase;
	transition: background 300ms ease-in-out 0s;
	white-space: nowrap; }

.mainbody {
	float: left;
	padding: 0px;
	width: 100%; }

.mainpattern {
	display: none;
	float: left;
	text-align: left;
	width: 100%; }

.background {
	display: inline-block;
	padding-top: 5px;
	text-align: left;
	width: 100%; }

.pattern-active {
	border: 1px solid #D7D7D8;
	cursor: pointer;
	display: block;
	height: 24px;
	text-align: center;
	width: 70px; }

	.pattern-active img {
		height: 24px;
		width: 70px; }

.mt-pattern {
	display: inline-block;
	float: left;
	padding: 3px 0; }

.pattern-popup {
	float: left;
	overflow: hidden;
	position: relative;
	width: 100%; }

	.pattern-popup .item {
		border: 1px solid #E1E1E1;
		cursor: pointer;
		float: left;
		height: 29px;
		margin-right: 4px;
		margin-top: 10px;
		width: 29px; }

		.pattern-popup .item img {
			height: 29px;
			width: 29px; }

	.pattern-popup .none {
		font-size: 10px;
		line-height: 24px;
		text-align: center;
		text-indent: -1px; }

#header_font, #b_font, #m_font, #footer_font, #copyright_font, #maintop_font {
	outline: none;
	padding: 5px;
	width: 110px; }

/**END CHANGE STYLE COLOR**/
/**STYLE BACK TO TOP**/
#back-top {
	bottom: 30px;
	position: fixed;
	right: 10px; }

.sticker-wrapper {
	-webkit-transition: all 100ms ease-in-out 0s;
	position: relative;
	right: 0;
	top: 0;
	transition: all 100ms ease-in-out 0s; }

.sticker {
	-webkit-border-radius: 50% 50% 50% 50%;
	-webkit-transition: all 100ms ease-in-out 0s;
	background: url('../images/general/up-arrow.png') no-repeat 50% 50%;
	border-radius: 50% 50% 50% 50%;
	display: table-cell;
	font-size: 1.1666em;
	font-weight: bold;
	height: 50px;
	text-align: center;
	transition: all 100ms ease-in-out 0s;
	vertical-align: middle;
	width: 50px; }

#back-top a:hover .sticker-wrapper {
	right: -5px;
	top: 5px; }

#back-top a:hover .sticker {
	height: 60px;
	width: 60px; }

/**END BACK TO TOP**/
/**STYLE COMPARE**/
div.compare-loading, div.wisthlist-loading {
	background: url('../images/general/loading.gif') no-repeat center;
	min-height: 160px; }

div.message-alert {
	background: #666;
	border-radius: 0 0 3px 3px;
	color: #dfdfdf;
	font-size: 12px;
	font-weight: bold;
	left: 50%;
	margin-left: -220px;
	padding: 20px 60px;
	position: fixed;
	text-align: center;
	top: 0;
	width: 333px;
	z-index: 9999; }

	div.message-alert button {
		background: url("../images/general/close.png") no-repeat scroll 0 0 transparent;
		border: none;
		height: 9px;
		position: absolute;
		right: 15px;
		top: 45%;
		width: 9px;
		z-index: 9999; }

		div.message-alert button:hover {
			background-position: 0 -9px;
			cursor: pointer; }

.ajax-loading {
	bottom: 54px;
	display: none;
	left: 123px;
	position: absolute; }

.ajax-loading-list {
	bottom: 38px;
	display: none;
	left: 2px;
	position: absolute; }

/**END STYLE COMPARE**/
/**STYLE SELECT BOX**/
.sbHolder {
	background-color: #FFFFFF;
	font-weight: normal;
	margin: 0;
	padding: 3px 20px 3px 8px;
	position: relative; }

.sbSelector { font-size: 100%; }

	.sbSelector:link, .sbSelector:visited, .sbSelector:hover {
		outline: none;
		text-decoration: none; }

.sbToggle {
	background: url("../images/general/select-icons.png") no-repeat 0 0;
	display: block;
	height: 18px;
	outline: medium none;
	position: absolute;
	right: 3px;
	top: 4px;
	width: 14px; }

	.sbToggle:hover { background: url("../images/general/select-icons.png") no-repeat 0 -19px; }

.sbToggleOpen { background: url("../images/general/select-icons.png") no-repeat 0 0; }

	.sbToggleOpen:hover { background: url("../images/general/select-icons.png") no-repeat 0 -19px; }

.sbHolderDisabled {
	background-color: #3C3C3C;
	border: solid 1px #515151; }

.sbOptions {
	-webkit-box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.15);
	background-color: #FFFFFF;
	box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.15);
	left: 0;
	list-style: none outside none;
	margin: 0;
	overflow-y: auto;
	padding: 3px 0 3px 0 !important;
	position: absolute;
	top: 24px !important;
	width: 100%;
	z-index: 1; }

	.sbOptions li {
		line-height: normal;
		margin: 0;
		padding: 0 4px; }

	.sbOptions a {
		display: block;
		font-size: 100%;
		outline: medium none;
		padding: 5px 0 5px 4px; }

		.sbOptions a:link, .sbOptions a:visited, .sbOptions a:hover, .sbOptions a:focus, .sbOptions a.sbFocus {
			outline: none;
			text-decoration: none; }

	.sbOptions li.last a { border-bottom: none; }

	.sbOptions .sbDisabled {
		display: block;
		padding: 7px 0 7px 3px; }

	.sbOptions .sbGroup {
		display: block;
		font-weight: bold;
		padding: 7px 0 7px 3px; }

	.sbOptions .sbSub { padding-left: 17px; }

.select label {
	font-size: 100%;
	height: auto !important;
	line-height: 20px;
	margin: 0 !important;
	min-height: 20px !important;
	padding: 0;
	text-align: right; }

.sbOptions li:last-child a { border-bottom: 0; }

/**END STYLE SELECT BOX**/
/**STYLE SOCIAL BUTTON**/
.social-buttons {
	position: fixed;
	top: 185px;
	width: 45px;
	z-index: 9999; }

.button-left { left: 0; }

.button-right { right: 0; }

.social-buttons #twitter-btn .social-icon, 
.social-buttons #facebook-btn .social-icon, 
.social-buttons #google-btn .social-icon, 
.social-buttons #rss-btn .social-icon,
.social-buttons #pinterest-btn .social-icon,
.social-buttons #youtube-btn .social-icon {
	background-color: #33353B;
	background-image: url('../images/general/social-icons.png'); }

.button-left #facebook-btn span { background-position: right 10px; }

.button-left #twitter-btn span { background-position: right -35px; }

.button-left #google-btn span { background-position: right -127px; }

.button-left #rss-btn span { background-position: right -80px; }

.button-left #pinterest-btn span { background-position: right -177px; }

.button-left #youtube-btn span { background-position: right -223px; }

.button-right #facebook-btn span { background-position: 12px 10px; }

.button-right #twitter-btn span { background-position: 11px -35px; }

.button-right #google-btn span { background-position: 10px -127px; }

.button-right #rss-btn span { background-position: 11px -80px; }

.button-right #pinterest-btn span { background-position: 11px -177px; }

.button-right #youtube-btn span { background-position: 11px -223px; }

.social-buttons #facebook-btn:hover .social-icon { background-color: #3B5998; }

.social-buttons #twitter-btn:hover .social-icon { background-color: #62BDB2; }

.social-buttons #google-btn:hover .social-icon { background-color: #DB4A39; }

.social-buttons #rss-btn:hover .social-icon { background-color: #FF8B0F; }

.social-buttons #pinterest-btn:hover .social-icon { background-color: #D43638; }

.social-buttons #youtube-btn:hover .social-icon { background-color: #C4302B; }

.social-buttons a:hover .social-text { display: block; }

.button-left .social-icon {
	transition: background-color 0.4s ease-in 0s;
	-webkit-transition: background-color 0.4s ease-in 0s;
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 43px;
	margin-bottom: 2px;
	width: 43px; }

.button-left .social-text {
	display: none;
	float: right;
	font-size: 11px;
	font-weight: bold;
	margin: 11px 40px 11px 0px;
	white-space: nowrap; }

.button-right .social-icon {
	transition: background-color 0.4s ease-in 0s;
	-webkit-transition: background-color 0.4s ease-in 0s;
	background-repeat: no-repeat;
	display: block;
	float: right;
	height: 43px;
	margin-bottom: 2px;
	width: 43px; }

.button-right .social-text {
	display: none;
	float: left;
	font-size: 11px;
	font-weight: bold;
	margin: 11px 0 11px 40px;
	white-space: nowrap; }
	
	.ie8 .button-right .social-icon, .ie8 .button-right .social-text{
		font-size:10px
	}

.social-buttons .social-text { color: #FFFFFF; }

/**END STYLE SOCIAL BUTTON**/

/* IE6 */
.fancybox-ie6 #fancybox-close {
	background: transparent;
	filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_close.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-left-ico {
	background: transparent;
	filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_left.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-right-ico {
	background: transparent;
	filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-title-over {
	background: transparent;
	filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_over.png', sizingMethod='scale');
	zoom: 1; }

.fancybox-ie6 #fancybox-title-float-left {
	background: transparent;
	filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_left.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-title-float-main {
	background: transparent;
	filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_main.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-title-float-right {
	background: transparent;
	filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame {  }

#fancybox-loading.fancybox-ie6 {
	margin-top: 0;
	position: absolute; }

	#fancybox-loading.fancybox-ie6 div {
		background: transparent;
		filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_loading.png', sizingMethod='scale'); }

/* IE6, IE7, IE8 */
.fancybox-ie .fancybox-bg { background: transparent !important; }

.fancybox-ie #fancybox-bg-n { filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_n.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-bg-ne { filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_ne.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-bg-e { filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_e.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-bg-se { filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_se.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-bg-s { filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_s.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-bg-sw { filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_sw.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-bg-w { filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_w.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-bg-nw { filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_nw.png', sizingMethod='scale'); }

/**END STYLE FANCYBOX**/
/**STYLE DRILLMENU**/
.mt-drillmenu {
	float: left !important;
	margin-left: 0 !important;
	width: 100% !important; }

.nav-accordion { width: 100%; }

ul.nav-accordion {
	line-height: 0.5em;
	list-style: none;
	margin: 0;
	padding: 0; }

	ul.nav-accordion li {
		background: #FFFFFF;
		position: relative; }

.navbar-inner {
	background-color: #FFFFFF !important;
	background-image: none !important;
	border-radius: 0 0 0 !important;
	border: 0 !important;
	box-shadow: none !important;
	margin: 0 0 0 0 !important;
	padding: 0 0 0 0 !important; }

	.navbar-inner a.btn-navbar:hover { background-color: #ECECEC; }

.navbar { margin: 0 10px !important; }

.nav-collapse, 
.nav-collapse.collapse { display: block !important; }

.nav-collapse {
	border-radius: 0px;
	box-shadow: 0 0 7px #CCCCCC;
	margin: 0; }

ul.nav-accordion li a {
	background-image: none !important;
	border-bottom: 1px solid #e1e1e1;
	display: block;
	font-size: 110%;
	font-weight: bold;
	height: 41px;
	line-height: 41px;
	margin: 0;
	padding: 0 26px 0 30px;
	text-align: left;
	text-decoration: none;
	text-shadow: none;
	text-transform: uppercase; }

ul.nav-accordion ul {
	display: none;
	margin: 0;
	padding: 0; }

	ul.nav-accordion ul li {
		clear: both;
		margin: 0;
		padding: 0; }

		ul.nav-accordion ul li a {
			font-size: 100%;
			outline: none;
			padding-left: 30px; }

			ul.nav-accordion ul li a:hover {  }

		ul.nav-accordion ul li.active { font-weight: bold; }

	ul.nav-accordion ul ul li a {
		font-size: 11px;
		padding-left: 30px; }

	ul.nav-accordion ul ul ul li a { padding-left: 30px; }

	ul.nav-accordion ul ul li a:hover {  }

ul.nav-accordion span {
	background-color: transparent;
	background-position: 0px 3px;
	background-repeat: no-repeat;
	cursor: pointer;
	display: block;
	font-size: 0;
	height: 32px;
	position: absolute;
	right: 12px;
	text-indent: -9999px;
	top: 6px;
	width: 38px;
	z-index: 9; }

ul.nav-accordion li span.expand {
	background-color: transparent;
	background-position: 0px 3px;
	background-repeat: no-repeat;
	cursor: pointer;
	display: block;
	height: 32px;
	position: absolute;
	right: 1px;
	text-indent: -9999px;
	top: 6px;
	width: 38px;
	z-index: 9; }

ul.nav-accordion li span.collapse {
	background-color: transparent;
	background-position: 0px 3px;
	background-repeat: no-repeat;
	cursor: pointer;
	display: block;
	height: 32px;
	position: absolute;
	right: 12px;
	text-indent: -9999px;
	top: 6px;
	width: 38px;
	z-index: 9; }

ul.detail-parent {
	margin: 0px;
	padding: 0 0 0 17px; }

.navbar .btn-navbar {
	background-image: none !important;
	border-radius: 2px 2px 2px 2px;
	box-shadow: none !important;
	float: left !important;
	margin: 9px !important;
	padding-left: 10px !important;
	padding-right: 10px !important; }

.navbar .brand {
	font-size: 130% !important;
	font-weight: bold !important;
	margin: 0 !important;
	padding-left: 20px !important;
	text-shadow: none !important;
	text-transform: uppercase !important; }

.navbar-inner .block-title {  }

.navbar .btn-navbar .icon-bar { background-color: #FFFFFF !important; }

/**END STYLE DRILLMENU**/
/**STYLE JQUERY-UI**/
.ui-helper-hidden { display: none; }

.ui-helper-hidden-accessible {
	clip: rect(1px,1px,1px,1px);
	position: absolute !important; }

.ui-helper-reset {
	border: 0;
	font-size: 100%;
	line-height: 1.3;
	list-style: none;
	margin: 0;
	outline: 0;
	padding: 0;
	text-decoration: none; }

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
	content: "";
	display: table; }

.ui-helper-clearfix:after { clear: both; }

.ui-helper-clearfix { zoom: 1; }

.ui-helper-zfix {
	filter: Alpha(Opacity=0);
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%; }

/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }

/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
	background-repeat: no-repeat;
	display: block;
	overflow: hidden;
	text-indent: -99999px; }

/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%; }

/*!
 * jQuery UI CSS Framework 1.8.23
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Trebuchet%20MS,%20Tahoma,%20Verdana,%20Arial,%20sans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=f6a828&bgTextureHeader=12_gloss_wave.png&bgImgOpacityHeader=35&borderColorHeader=e78f08&fcHeader=FFFFFF&iconColorHeader=FFFFFF&bgColorContent=eeeeee&bgTextureContent=03_highlight_soft.png&bgImgOpacityContent=100&borderColorContent=dddddd&fcContent=333333&iconColorContent=222222&bgColorDefault=f6f6f6&bgTextureDefault=02_glass.png&bgImgOpacityDefault=100&borderColorDefault=cccccc&fcDefault=1c94c4&iconColorDefault=ef8c08&bgColorHover=fdf5ce&bgTextureHover=02_glass.png&bgImgOpacityHover=100&borderColorHover=fbcb09&fcHover=c77405&iconColorHover=ef8c08&bgColorActive=FFFFFF&bgTextureActive=02_glass.png&bgImgOpacityActive=65&borderColorActive=fbd850&fcActive=eb8f00&iconColorActive=ef8c08&bgColorHighlight=ffe45c&bgTextureHighlight=03_highlight_soft.png&bgImgOpacityHighlight=75&borderColorHighlight=fed22f&fcHighlight=363636&iconColorHighlight=228ef1&bgColorError=b81900&bgTextureError=08_diagonals_thick.png&bgImgOpacityError=18&borderColorError=cd0a0a&fcError=FFFFFF&iconColorError=ffd27a&bgColorOverlay=666666&bgTextureOverlay=08_diagonals_thick.png&bgImgOpacityOverlay=20&opacityOverlay=50&bgColorShadow=000000&bgTextureShadow=01_flat.png&bgImgOpacityShadow=10&opacityShadow=20&thicknessShadow=5px&offsetTopShadow=-5px&offsetLeftShadow=-5px&cornerRadiusShadow=5px
 */
/* Component containers
----------------------------------*/
.ui-widget {
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	font-size: 1.1em; }

	.ui-widget .ui-widget { font-size: 1em; }

	.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
		font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
		font-size: 1em; }

.ui-widget-content { border: 1px solid #e3e3e3; }

	.ui-widget-content a { color: #333333; }

#slider {
	height: 3px !important;
	margin: 22px 12px 10px !important; }

.ui-widget-header { background: #e3e3e3; }

	.ui-widget-header a { color: #FFFFFF; }

#narrow-by-list dd { margin: 0 5px; }

/* Interaction states
----------------------------------*/
.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default { background-color: #d9673b; }

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
	color: #1c94c4;
	text-decoration: none; }

.ui-state-hover a, .ui-state-hover a:hover {
	color: #c77405;
	text-decoration: none; }

.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active {  }

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
	color: #eb8f00;
	text-decoration: none; }

.ui-widget :active { outline: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	background: #ffe45c;
	border: 1px solid #fed22f;
	color: #363636; }

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a { color: #363636; }

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
	background: #b81900;
	border: 1px solid #cd0a0a;
	color: #FFFFFF; }

.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #FFFFFF; }

.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #FFFFFF; }

.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
	filter: Alpha(Opacity=70);
	font-weight: normal;
	opacity: .7; }

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
	background-image: none;
	filter: Alpha(Opacity=35);
	opacity: .35; }

/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
	height: 16px;
	width: 16px; }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }

.ui-icon-carat-1-ne { background-position: -16px 0; }

.ui-icon-carat-1-e { background-position: -32px 0; }

.ui-icon-carat-1-se { background-position: -48px 0; }

.ui-icon-carat-1-s { background-position: -64px 0; }

.ui-icon-carat-1-sw { background-position: -80px 0; }

.ui-icon-carat-1-w { background-position: -96px 0; }

.ui-icon-carat-1-nw { background-position: -112px 0; }

.ui-icon-carat-2-n-s { background-position: -128px 0; }

.ui-icon-carat-2-e-w { background-position: -144px 0; }

.ui-icon-triangle-1-n { background-position: 0 -16px; }

.ui-icon-triangle-1-ne { background-position: -16px -16px; }

.ui-icon-triangle-1-e { background-position: -32px -16px; }

.ui-icon-triangle-1-se { background-position: -48px -16px; }

.ui-icon-triangle-1-s { background-position: -64px -16px; }

.ui-icon-triangle-1-sw { background-position: -80px -16px; }

.ui-icon-triangle-1-w { background-position: -96px -16px; }

.ui-icon-triangle-1-nw { background-position: -112px -16px; }

.ui-icon-triangle-2-n-s { background-position: -128px -16px; }

.ui-icon-triangle-2-e-w { background-position: -144px -16px; }

.ui-icon-arrow-1-n { background-position: 0 -32px; }

.ui-icon-arrow-1-ne { background-position: -16px -32px; }

.ui-icon-arrow-1-e { background-position: -32px -32px; }

.ui-icon-arrow-1-se { background-position: -48px -32px; }

.ui-icon-arrow-1-s { background-position: -64px -32px; }

.ui-icon-arrow-1-sw { background-position: -80px -32px; }

.ui-icon-arrow-1-w { background-position: -96px -32px; }

.ui-icon-arrow-1-nw { background-position: -112px -32px; }

.ui-icon-arrow-2-n-s { background-position: -128px -32px; }

.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }

.ui-icon-arrow-2-e-w { background-position: -160px -32px; }

.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }

.ui-icon-arrowstop-1-n { background-position: -192px -32px; }

.ui-icon-arrowstop-1-e { background-position: -208px -32px; }

.ui-icon-arrowstop-1-s { background-position: -224px -32px; }

.ui-icon-arrowstop-1-w { background-position: -240px -32px; }

.ui-icon-arrowthick-1-n { background-position: 0 -48px; }

.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }

.ui-icon-arrowthick-1-e { background-position: -32px -48px; }

.ui-icon-arrowthick-1-se { background-position: -48px -48px; }

.ui-icon-arrowthick-1-s { background-position: -64px -48px; }

.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }

.ui-icon-arrowthick-1-w { background-position: -96px -48px; }

.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }

.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }

.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }

.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }

.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }

.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }

.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }

.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }

.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }

.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }

.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }

.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }

.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }

.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }

.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }

.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }

.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }

.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }

.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }

.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }

.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }

.ui-icon-arrow-4 { background-position: 0 -80px; }

.ui-icon-arrow-4-diag { background-position: -16px -80px; }

.ui-icon-extlink { background-position: -32px -80px; }

.ui-icon-newwin { background-position: -48px -80px; }

.ui-icon-refresh { background-position: -64px -80px; }

.ui-icon-shuffle { background-position: -80px -80px; }

.ui-icon-transfer-e-w { background-position: -96px -80px; }

.ui-icon-transferthick-e-w { background-position: -112px -80px; }

.ui-icon-folder-collapsed { background-position: 0 -96px; }

.ui-icon-folder-open { background-position: -16px -96px; }

.ui-icon-document { background-position: -32px -96px; }

.ui-icon-document-b { background-position: -48px -96px; }

.ui-icon-note { background-position: -64px -96px; }

.ui-icon-mail-closed { background-position: -80px -96px; }

.ui-icon-mail-open { background-position: -96px -96px; }

.ui-icon-suitcase { background-position: -112px -96px; }

.ui-icon-comment { background-position: -128px -96px; }

.ui-icon-person { background-position: -144px -96px; }

.ui-icon-print { background-position: -160px -96px; }

.ui-icon-trash { background-position: -176px -96px; }

.ui-icon-locked { background-position: -192px -96px; }

.ui-icon-unlocked { background-position: -208px -96px; }

.ui-icon-bookmark { background-position: -224px -96px; }

.ui-icon-tag { background-position: -240px -96px; }

.ui-icon-home { background-position: 0 -112px; }

.ui-icon-flag { background-position: -16px -112px; }

.ui-icon-calendar { background-position: -32px -112px; }

.ui-icon-cart { background-position: -48px -112px; }

.ui-icon-pencil { background-position: -64px -112px; }

.ui-icon-clock { background-position: -80px -112px; }

.ui-icon-disk { background-position: -96px -112px; }

.ui-icon-calculator { background-position: -112px -112px; }

.ui-icon-zoomin { background-position: -128px -112px; }

.ui-icon-zoomout { background-position: -144px -112px; }

.ui-icon-search { background-position: -160px -112px; }

.ui-icon-wrench { background-position: -176px -112px; }

.ui-icon-gear { background-position: -192px -112px; }

.ui-icon-heart { background-position: -208px -112px; }

.ui-icon-star { background-position: -224px -112px; }

.ui-icon-link { background-position: -240px -112px; }

.ui-icon-cancel { background-position: 0 -128px; }

.ui-icon-plus { background-position: -16px -128px; }

.ui-icon-plusthick { background-position: -32px -128px; }

.ui-icon-minus { background-position: -48px -128px; }

.ui-icon-minusthick { background-position: -64px -128px; }

.ui-icon-close { background-position: -80px -128px; }

.ui-icon-closethick { background-position: -96px -128px; }

.ui-icon-key { background-position: -112px -128px; }

.ui-icon-lightbulb { background-position: -128px -128px; }

.ui-icon-scissors { background-position: -144px -128px; }

.ui-icon-clipboard { background-position: -160px -128px; }

.ui-icon-copy { background-position: -176px -128px; }

.ui-icon-contact { background-position: -192px -128px; }

.ui-icon-image { background-position: -208px -128px; }

.ui-icon-video { background-position: -224px -128px; }

.ui-icon-script { background-position: -240px -128px; }

.ui-icon-alert { background-position: 0 -144px; }

.ui-icon-info { background-position: -16px -144px; }

.ui-icon-notice { background-position: -32px -144px; }

.ui-icon-help { background-position: -48px -144px; }

.ui-icon-check { background-position: -64px -144px; }

.ui-icon-bullet { background-position: -80px -144px; }

.ui-icon-radio-off { background-position: -96px -144px; }

.ui-icon-radio-on { background-position: -112px -144px; }

.ui-icon-pin-w { background-position: -128px -144px; }

.ui-icon-pin-s { background-position: -144px -144px; }

.ui-icon-play { background-position: 0 -160px; }

.ui-icon-pause { background-position: -16px -160px; }

.ui-icon-seek-next { background-position: -32px -160px; }

.ui-icon-seek-prev { background-position: -48px -160px; }

.ui-icon-seek-end { background-position: -64px -160px; }

.ui-icon-seek-start { background-position: -80px -160px; }

/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }

.ui-icon-stop { background-position: -96px -160px; }

.ui-icon-eject { background-position: -112px -160px; }

.ui-icon-volume-off { background-position: -128px -160px; }

.ui-icon-volume-on { background-position: -144px -160px; }

.ui-icon-power { background-position: 0 -176px; }

.ui-icon-signal-diag { background-position: -16px -176px; }

.ui-icon-signal { background-position: -32px -176px; }

.ui-icon-battery-0 { background-position: -48px -176px; }

.ui-icon-battery-1 { background-position: -64px -176px; }

.ui-icon-battery-2 { background-position: -80px -176px; }

.ui-icon-battery-3 { background-position: -96px -176px; }

.ui-icon-circle-plus { background-position: 0 -192px; }

.ui-icon-circle-minus { background-position: -16px -192px; }

.ui-icon-circle-close { background-position: -32px -192px; }

.ui-icon-circle-triangle-e { background-position: -48px -192px; }

.ui-icon-circle-triangle-s { background-position: -64px -192px; }

.ui-icon-circle-triangle-w { background-position: -80px -192px; }

.ui-icon-circle-triangle-n { background-position: -96px -192px; }

.ui-icon-circle-arrow-e { background-position: -112px -192px; }

.ui-icon-circle-arrow-s { background-position: -128px -192px; }

.ui-icon-circle-arrow-w { background-position: -144px -192px; }

.ui-icon-circle-arrow-n { background-position: -160px -192px; }

.ui-icon-circle-zoomin { background-position: -176px -192px; }

.ui-icon-circle-zoomout { background-position: -192px -192px; }

.ui-icon-circle-check { background-position: -208px -192px; }

.ui-icon-circlesmall-plus { background-position: 0 -208px; }

.ui-icon-circlesmall-minus { background-position: -16px -208px; }

.ui-icon-circlesmall-close { background-position: -32px -208px; }

.ui-icon-squaresmall-plus { background-position: -48px -208px; }

.ui-icon-squaresmall-minus { background-position: -64px -208px; }

.ui-icon-squaresmall-close { background-position: -80px -208px; }

.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }

.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }

.ui-icon-grip-solid-vertical { background-position: -32px -224px; }

.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }

.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }

.ui-icon-grip-diagonal-se { background-position: -80px -224px; }

/* Misc visuals
----------------------------------*/
/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
	-webkit-border-top-left-radius: 2px;
	border-top-left-radius: 2px; }

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
	-webkit-border-top-right-radius: 2px;
	border-top-right-radius: 2px; }

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
	-webkit-border-bottom-left-radius: 2px;
	border-bottom-left-radius: 2px; }

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	-webkit-border-bottom-right-radius: 2px;
	border-bottom-right-radius: 2px; }

/* Overlays */
.ui-widget-overlay {
	background: #666666;
	filter: Alpha(Opacity=50);
	opacity: .50; }

.ui-widget-shadow {
	-webkit-border-radius: 5px;
	background: #000000;
	border-radius: 5px;
	filter: Alpha(Opacity=20);
	margin: -5px 0 0 -5px;
	opacity: .20;
	padding: 5px; }

/*!
 * jQuery UI Slider 1.8.23
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Slider#theming
 */
.ui-slider {
	position: relative;
	text-align: left; }

#narrow-by-list span {
	color: #737373;
	font-size: 113%;
	outline: none; }

span.filter_min {
	float: left;
	text-align: left; }

span.filter_max {
	float: right;
	text-align: right; }

.ui-slider .ui-slider-handle {
	cursor: pointer;
	height: auto;
	padding: 5px 8px;
	position: absolute;
	width: auto; }

dl#narrow-by-list {
	margin: 0;
	padding: 0; }

.ui-slider .ui-slider-range {
	background-position: 0 0;
	border: 0;
	display: block;
	font-size: 100%;
	position: absolute; }

.ui-slider-horizontal { height: .8em; }

	.ui-slider-horizontal .ui-slider-handle {
		margin-left: -.6em;
		top: -4px; }

	.ui-slider-horizontal .ui-slider-range {
		height: 100%;
		top: 0; }

	.ui-slider-horizontal .ui-slider-range-min { left: 0; }

	.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical {
	height: 100px;
	width: .8em; }

	.ui-slider-vertical .ui-slider-handle {
		left: -.3em;
		margin-bottom: -.6em;
		margin-left: 0; }

	.ui-slider-vertical .ui-slider-range {
		left: 0;
		width: 100%; }

	.ui-slider-vertical .ui-slider-range-min { bottom: 0; }

	.ui-slider-vertical .ui-slider-range-max { top: 0; }

/**END STYLE JQUERY-UI**/
/**STYLE LIGHTBOX**/
#lightbox {
	left: 0;
	line-height: 0;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 100; }

	#lightbox img {
		height: auto;
		width: auto; }

	#lightbox a img { border: none; }

#outerImageContainer {
	background-color: #fff;
	height: 250px;
	margin: 0 auto;
	position: relative;
	width: 250px; }

#imageContainer { padding: 10px; }

#loading {
	height: 25%;
	left: 0%;
	line-height: 0;
	position: absolute;
	text-align: center;
	top: 40%;
	width: 100%; }

#hoverNav {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10; }

#imageContainer>#hoverNav { left: 0; }

#hoverNav a { outline: none; }

#prevLink, #nextLink {
	display: block; /* Trick IE into showing hover */
	height: 100%;
	width: 49%; }

#prevLink {
	float: left;
	left: 0; }

#nextLink {
	float: right;
	right: 0; }

#imageDataContainer {
	background-color: #fff;
	display: none !important;
	font: 10px Verdana, Helvetica, sans-serif;
	line-height: 1.4em;
	margin: 0 auto;
	overflow: auto;
	width: 100%; }

#imageData {
	color: #666;
	padding: 0 10px; }

	#imageData #imageDetails {
		float: left;
		text-align: left;
		width: 70%; }

	#imageData #caption { font-weight: bold; }

	#imageData #numberDisplay {
		clear: left;
		display: block;
		padding-bottom: 1.0em; }

	#imageData #bottomNavClose {
		float: right;
		outline: none;
		padding-bottom: 0.7em;
		width: 66px; }

#overlay {
	background-color: #000;
	height: 500px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 90; }

/**END STYLE LIGHTBOX**/
/**STYLE THUMNAIL SCROLLER**/
.mt-more-images { position: relative; }

.product-view .product-img-box .mt-more-views, .mt-more-images .mt-more-views { margin: 0 auto; width: 76% }

.jcarousel-container-horizontal {
	margin: 0 auto;
	padding: 0;
	position: relative;
	width: 100%; }

.jcarousel-container .jcarousel-clip-horizontal {
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 76%; }
	
.product-view.quickview .jcarousel-container .jcarousel-clip-horizontal{ width:70% }

/* horizontal slide*/
.mt-more-images span {
	-webkit-transition: all 0.2s linear 0s;
	background-repeat: no-repeat;
	border-radius: 3px;
	cursor: pointer;
	height: 70px;
	margin: 0;
	outline: none;
	padding: 0;
	position: absolute;
	transition: all 0.2s linear 0s;
	width: 36px;
	z-index: 10; }

.product-view .next {
	background-position: 100% 0;
	right: 0;
	top: 25px !important; }

	.product-view .next:hover { background-position: -72px 100%; }

.product-view .prev {
	background-position: 0 0;
	left: 0;
	top: 25px !important; }

	.product-view .prev:hover { background-position: -36px 100%; }

/* vertical slide */
.product-view .mt-vert-thumb .next, .product-view .mt-vert-thumb .prev {
	height: 14px;
	width: 40px; }

.product-view .mt-vert-thumb .next { background-position: 0 100%; }

.product-view .mt-vert-thumb .prev {
	background-position: 0 0;
	top: -5px; }

.product-view .product-img-box .more-views li { line-height: normal; }
.thumbnail-viewport{ margin: 0 }
.thumbnail-container a:active,
.thumbnailscroller a:active,
.thumbnail-container a:focus,
.thumbnailscroller a:focus  {outline: none;}
.slides,
.thumbnail-control-nav,
.thumbnail-direction-nav {margin: 0; padding: 0; list-style: none;}

/* thumbnailscroller Necessary Styles
*********************************/
.product-view .product-img-box .more-views ul {margin: 0px;}
.thumbnailscroller {margin: 0; padding: 0;}
.thumbnailscroller .slides > li {display: none; text-align: center; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */

.thumbnail-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* Direction Nav */
.thumbnail-direction-nav {*height: 0;}
.thumbnail-direction-nav a {
    background-repeat: no-repeat;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    height: 70px;
    margin: 0;
    outline: medium none;
    top:25px;
    padding: 0;
    text-indent: -999em;
    position: absolute;
    transition: all 0.2s linear 0s;
    width: 36px;
    z-index: 10;}
.thumbnail-direction-nav .thumbnail-next {background-position: 100% 0; right: -55px; }
.thumbnail-direction-nav .thumbnail-next:hover{ background-position: -72px 100% }
.thumbnail-direction-nav .thumbnail-prev {left: -55px;}
.thumbnail-direction-nav .thumbnail-prev:hover{ background-position: -36px 100% }
.thumbnail-direction-nav .thumbnail-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

@media (min-width: 980px) and (max-width: 1170px) {
    .thumbnail-direction-nav a{ width: 30px; top: 16px }
    .thumbnail-direction-nav .thumbnail-next{ right: -47px }
    .thumbnail-direction-nav .thumbnail-prev{ left: -47px }
}
@media (min-width: 768px) and (max-width: 979px) {
    .thumbnail-direction-nav a{ width: 30px; top: 2px }
    .thumbnail-direction-nav .thumbnail-next{ right: -37px }
    .thumbnail-direction-nav .thumbnail-prev{ left: -37px }
}
@media (max-width: 767px) {
    .thumbnail-direction-nav .thumbnail-next{ right: 0 }
    .thumbnail-direction-nav .thumbnail-prev{ left: 0 }
}
.slides .slide_items {
    position: relative;
}

/**END STYLE THUMNAIL SCROLLER**/
/**STYLE CLOUD ZOOM**/
.cloud-zoom-lens {
	background-color: #FFFFFF;
	border: 1px solid #EDEDED;
	cursor: move;
	margin: -1px; }

/* This is for the title text. */
.cloud-zoom-title {
	background-color: #000000;
	color: #FFFFFF;
	font-size: 10px;
	font-weight: bold;
	padding: 3px;
	position: absolute !important;
	text-align: center;
	top: 0;
	width: 100%; }

/* This is the zoom window. */
.cloud-zoom-big {
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	border: 2px solid white;
	box-shadow: 0 0 10px #DDDDDD;
	height: 100% !important;
	left: 100% !important;
	margin-left: 10px;
	overflow: hidden;
	top: 0 !important;
	width: 100% !important;
	z-index: 999 !important; }

/* This is the loading message. */
.cloud-zoom-loading {
	background: #222;
	border: 1px solid #000;
	color: white; 
	padding: 3px; 
	top: 0px !important;
}

.product-view .product-img-box .product-image-zoom { border: 0; }

.mt-a-lighbox { display: none; }

/**END STYLE CLOUD ZOOM**/
/**STYLE LOGO SCROLLER**/
.mt-logoscroller {
	overflow: hidden;
	position: relative; }

.mt_productscroller {
	clear: both;
	display: block;
	position: relative;
	width: 100%; }

.mt-logo-scroller {
	display: block;
	margin: 0px;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%; }

	.mt-logo-scroller > ul { display: block; }

		.mt-logo-scroller > ul > li {
			overflow: visible !important;
			padding: 0 65px 0 0; }

			.mt-logo-scroller > ul > li.loading { background: url('../images/loading.gif') no-repeat center; }

	.mt-logo-scroller div.catpanel {
		display: block;
		opacity: 0;
		text-align: center;
		visibility: hidden; }

		.mt-logo-scroller div.catpanel > div {
			display: block;
			margin: 0 5px;
			position: relative;
			text-align: center; }

			.mt-logo-scroller div.catpanel > div > a { display: block; }

				.mt-logo-scroller div.catpanel > div > a.img, .mt-logo-scroller div.catpanel > div > span.img {
					border: 1px solid #ddd;
					box-shadow: 0 0 5px #ccc;
					display: table;
					margin: auto;
					padding: 5px; }

			.mt-logo-scroller div.catpanel > div > a.img:hover, .mt-logo-scroller div.catpanel > div > span.img:hover {
				border: 1px solid #b7b7b7;
				opacity: 0.9; }

			.mt-logo-scroller div.catpanel > div > a.title {
				font-family: Tahoma;
				font-size: 120%;
				margin: 10px 0; }

			.mt-logo-scroller div.catpanel > div.block p { margin: 0; }

div.logopagenave > button,
.mt_productscroller .pagenave > button,
.block-related .product-title .pagenav span,
.box-collateral .pagenav span {
	-webkit-border-radius: 3px !important;
	-webkit-transition: all 400ms ease-in-out 0s;
	background: url('../images/general/mt-arrow-scroll.png') no-repeat 0 0;
	border-radius: 3px;
	border: none;
	cursor: pointer;
	display: block;
	float: left;
	height: 30px;
	margin: 0 0 0 4px;
	outline: none;
	padding: 0;
	transition: all 400ms ease-in-out 0s;
	width: 36px; }

div.logopagenave > .next,
.mt_productscroller .pagenave > .next,
.block-related .product-title .pagenav span.rnext,
.box-collateral .pagenav span.unext { background-position: right bottom; }

div.logopagenave > .next:hover,
.mt_productscroller .pagenave > .next:hover,
.block-related .product-title .pagenav span.rnext:hover,
.box-collateral .pagenav span.unext:hover { background-position: left bottom; }

div.logopagenave > .next:active { outline: none; }

div.logopagenave > .prev,
.mt_productscroller .pagenave > .prev,
.block-related .product-title .pagenav span.rprev,
.box-collateral .pagenav span.uprev { background-position: left top; }

div.logopagenave > .prev:hover,
.mt_productscroller .pagenave > .prev:hover,
.block-related .product-title .pagenav span.rprev:hover,
.box-collateral .pagenav span.uprev:hover { background-position: right top; }

.mt-logoscroller .list_logocarousel { padding: 0 0 20px 0; }

/** END STYLE LOGO SCROLLER **/
/** STYLE QUICKLOOK **/
.mtdendadmin-product-quicklook {
	background: #fff;
	width: 700px; }

#quicklook-main .product-img-box {
	float: left;
	margin-right: 10px;
	width: 350px; }

#quicklook-main .product-shop {
	float: left;
	text-align: left;
	width: 340px; }

div.main-quicklook {
	    height: 37px;
	    margin: 0;
	    overflow: hidden;
	    padding: 0;
	    position: absolute;
	    text-align: center;
	    width: 130px;
    } 
	div.main-quicklook .btn-quicklook {
		position: relative;
		z-index: 11;
    }

		div.main-quicklook .btn-quicklook span {
			background: url('../images/general/quick-view-bg.png') no-repeat 0 0;
			color: #000;
			height: 37px;
			line-height: 37px;
			padding: 0 14px; }

			div.main-quicklook .btn-quicklook span span { background: none; }

.item-inner {
	margin: 0;
	outline: none;
	padding: 0;
	position: relative; }

#quicklook-main .viewquicklook { display: none; }

/**END STYLE QUICKLOOK**/
/**STYLE SMART MENU**/
/*Smart menu accordion*/
#mt-accordion {
	margin: 0;
	padding: 10px 0 0 0; }

.side-col .box { clear: both; }

#mt-accordion li {
	font-weight: normal;
	line-height: 28px;
	list-style: none; }

/* Some list and link styling */
#mt-accordion ul li { padding-left: 10px; }

#mt-accordion ul ul li {
	border: none !important;
	margin-bottom: 0;
	padding: 0; }

#mt-accordion ul ul { display: block !important; }

#mt-accordion ul li a {
	font-size: 11px;
	outline: none;
	text-decoration: none;
	text-transform: none; }

/* For the xtra menu */
#mt-accordion ul ul li { margin-bottom: 0; }

#mt-accordion ul ul li { padding-left: 15px; }

#mt-accordion ul ul li { border: none; }

#mt-accordion span a { width: 16px; }

#mt-accordion li a {
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-decoration: none;
	text-transform: none; }

#mt-accordion ul { padding: 0px; }

	#mt-accordion ul ul {
		float: left;
		padding: 0px;
		width: 100%; }

#mt-accordion ul, #mt-accordion ul ul, #mt-accordion ul ul ul, #mt-accordionul ul ul ul {
	margin: 0;
	padding: 0; }

/* Header links styling */
#mt-accordion span.head a {
	background: url("../images/general/arrow1.png") no-repeat 0 0;
	display: block;
	float: left !important;
	height: 3px;
	margin: 13px 7px 0;
	outline: medium none;
	padding: 0;
	width: 5px; }

	#mt-accordion span.head a:hover, #mt-accordion li span.selected a:hover {
		background-color: transparent;
		background-image: url("../images/general/arrow2.png"); }

#mt-accordion li.active ul li a { font-weight: normal; }

#mt-accordion li.active ul li.active ul li.active a { font-weight: normal; }

#mt-accordion li.active ul li.active ul li a { font-weight: normal; }

#mt-accordion ul, #mt-accordion li {
	clear: both;
	float: left;
	width: 100%; }

#mt-accordion ul li { width: 98.2%; }

	#mt-accordion ul li.level1 {
		line-height: 20px;
		padding-left: 30px; }

	#mt-accordion ul li.last { border-bottom: 0px; }

#mt-accordion ul ul li { width: 155px; }

/*Smart menu dropdrow*/
#mt-dropdown {
	font-size: 100%;
	margin: 10px 0 0 0;
	padding: 0; }

	/************** ALL LEVELS  *************/
/* Style consistent throughout all nav levels */
#mt-dropdown li {
		float: left;
		height: 33px;
		line-height: 33px;
		position: relative;
		text-align: left;
		width: 100%; }

		#mt-dropdown li.over { z-index: 999; }

	#mt-dropdown a {
		display: block;
		line-height: 33px;
		text-decoration: none; }

		#mt-dropdown a:hover {
			color: #CD1507;
			display: block;
			line-height: 33px; }

	#mt-dropdown span {
		cursor: pointer;
		display: block;
		text-transform: none;
		white-space: nowrap; }

	#mt-dropdown li ul span { white-space: normal; }

	/************ 0 LEVEL  ***************/
#mt-dropdown li { border-bottom: 1px solid #CECECE; }

		#mt-dropdown li.active li a { text-decoration: none; }

	#mt-dropdown a {
		font-weight: normal;
		margin: 0;
		padding: 0 8px; }

	/************ 1ST LEVEL ************/
#mt-dropdown ul li, #mt-dropdown ul li.active {
		float: left;
		margin: 0; }

	#mt-dropdown ul li.last {
		background: #fff;
		padding-bottom: 0; }

	#mt-dropdown ul a, #mt-dropdown ul li a:hover {
		float: left;
		padding: 0; }

	#mt-dropdown ul li a { font-weight: normal !important; }

	#mt-dropdown ul { background: #FFF !important; }

	/************ 2ND LEVEL ************/
#mt-dropdown ul {
		border: 1px solid #d8d8d8;
		left: -10000px;
		position: absolute;
		top: 25px;
		width: 208px; }

/* Show menu */
.col-left #mt-dropdown li.over > ul {
	left: 270px;
	top: -1px; }

	.col-left #mt-dropdown li.over > ul li.over > ul {
		left: 208px;
		top: -1px; }

#mt-dropdown li.over > ul {
	left: -210px;
	top: -1px; }

	#mt-dropdown li.over > ul li.over > ul { left: -210px; }

#mt-dropdown li.over ul ul { left: -10000px; }

#mt-dropdown ul span, #mt-dropdown ul li.last li span { padding: 0px 0 0 8px; }

#mt-dropdown li.last { border: none !important; }

/************ 3RD+ LEVEL ************/
#mt-dropdown ul ul { background: #fff; }

/*Smart menu tree*/
#mt-tree { padding-left: 10px; }

	#mt-tree li { line-height: 22px; }

		#mt-tree li a { text-decoration: none; }

	#mt-tree a:hover {
		color: #000;
		font-weight: bold !important; }

	#mt-tree ul li a {
		color: #444444;
		font-weight: normal;
		padding-left: 15px; }

	#mt-tree ul ul li a {
		color: #444444;
		padding-left: 15px; }

	#mt-tree li a {
		color: #444444;
		font-weight: bold;
		text-transform: uppercase; }

	#mt-tree li ul li a { text-transform: none; }

#mt-treeli.active a { font-weight: bold; }

#mt-tree li.active ul li a { font-weight: normal; }

#mt-tree li.active ul li.active ul li.active a { font-weight: bold; }

#mt-tree li.active ul li.active ul li a { font-weight: normal; }

#mt-tree li.active ul li.active a { font-weight: bold; }

#mt-tree ul { padding-left: 10px; }

/**END STYLE SMART MENU**/
/**HOVER PRODUCT**/
.products-grid .product-image a, .products-list .product-image a { display: block; }

.category-products .products-list .products-list-image {
        position: relative;
    }

.products-grid .product-image img, .products-list .product-image img {
	position: relative;
	z-index: 0; }

.products-grid .product-image img.mt-hover, .products-grid-ajax .product-image img.mt-hover, .products-list .product-image img.mt-hover {
	opacity: 0;
	position: absolute;
	z-index: 1; }

/* Fancy box */
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp {
    border: 0 none;
    margin: 0;
    outline: medium none;
    padding: 0;
    vertical-align: top;
}
.fancybox-wrap {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 8020;
}
.fancybox-skin {
    background: none repeat scroll 0 0 #F9F9F9;
    border-radius: 4px 4px 4px 4px;
    color: #444444;
    position: relative;
    text-shadow: none;
}
.fancybox-opened {
    z-index: 8030;
}
.fancybox-opened .fancybox-skin {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.fancybox-outer, .fancybox-inner {
    position: relative;
}
.fancybox-inner {
    overflow: hidden;
}
.fancybox-type-iframe .fancybox-inner {
}
.fancybox-error {
    color: #444444;
    font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}
.fancybox-image, .fancybox-iframe {
    display: block;
    height: 100%;
    width: 100%;
}
.fancybox-image {
    max-height: 100%;
    max-width: 100%;
}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("../images/general/fancybox_sprite.png");
}
#fancybox-loading {
    background-position: 0 -108px;
    cursor: pointer;
    left: 50%;
    margin-left: -22px;
    margin-top: -22px;
    opacity: 0.8;
    position: fixed;
    top: 50%;
    z-index: 8060;
}
#fancybox-loading div {
    background: url("../images/general/loading.gif") no-repeat center center;
    height: 44px;
    width: 44px;
}
.fancybox-close {
    cursor: pointer;
    height: 36px;
    position: absolute;
    right: -18px;
    top: -18px;
    width: 36px;
    z-index: 8040;
}
.fancybox-nav {
    background: url("../images/general/blank.gif") repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 100%;
    position: absolute;
    text-decoration: none;
    top: 0;
    width: 40%;
    z-index: 8040;
}
.fancybox-prev {
    left: 0;
}
.fancybox-next {
    right: 0;
}
.fancybox-nav span {
    cursor: pointer;
    height: 34px;
    margin-top: -18px;
    position: absolute;
    top: 50%;
    visibility: hidden;
    width: 36px;
    z-index: 8040;
}
.fancybox-prev span {
    background-position: 0 -36px;
    left: 10px;
}
.fancybox-next span {
    background-position: 0 -72px;
    right: 10px;
}
.fancybox-nav:hover span {
    visibility: visible;
}
.fancybox-tmp {
    left: -9999px;
    position: absolute;
    top: -9999px;
    visibility: hidden;
}
.fancybox-lock {
    overflow: hidden;
}
.fancybox-overlay {
    background: url("../images/general/fancybox_overlay.png") repeat scroll 0 0 transparent;
    display: none;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 8010;
}
.fancybox-overlay-fixed {
    bottom: 0;
    position: fixed;
    right: 0;
}
.fancybox-lock .fancybox-overlay {
    overflow-x: auto;
    overflow-y: scroll;
}
.fancybox-title {
    font: 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    text-shadow: none;
    visibility: hidden;
    z-index: 8050;
}
.fancybox-opened .fancybox-title {
    visibility: visible;
}
.fancybox-title-float-wrap {
    bottom: 0;
    margin-bottom: -35px;
    position: absolute;
    right: 50%;
    text-align: center;
    z-index: 8050;
}
.fancybox-title-float-wrap .child {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    border-radius: 15px 15px 15px 15px;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    line-height: 24px;
    margin-right: -100%;
    padding: 2px 20px;
    text-shadow: 0 1px 2px #222222;
    white-space: nowrap;
}
.fancybox-title-outside-wrap {
    color: #FFFFFF;
    margin-top: 10px;
    position: relative;
}
.fancybox-title-inside-wrap {
    padding-top: 10px;
}
.fancybox-title-over-wrap {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    bottom: 0;
    color: #FFFFFF;
    left: 0;
    padding: 10px;
    position: absolute;
}
.mt-social-links, .product-shop .product-options-bottom .add-to-links {
    width: 100%;
    float: left;
}
.mt-social-links .so-social-share {
    float: left;
    margin-right: 10px;
}
.mt-social-links .so-pinterest.so-social-share{ margin-top: 22px; }
.mt-social-links .fb_iframe_widget {
    margin: 0;
    padding: 0;
}
.fb-like-box {
    background: none;
    width: auto;
    padding:0 0px;
    margin:10px 0;
    border: solid 3px #e9e8e8; 
    overflow: hidden;
    height: 300px;
}


	/*Facebook widget*/
	.widget_fb_right {
		width: 245px;
		position: fixed;
		right: -245px;
		top: 61px;
		z-index: 99998;
	}
	.widget_fb_left {
		width: 245px;
		position: fixed;
		left: -245px;
		top: 120px;
		z-index: 99997;
	}
	.widget_fb_right .icon {
		float: left;
		height: 59px;
		width: 44px;
		left: -44px;
		background: #3b5998 url("../images/fb_icon.png") center center no-repeat;
		cursor: pointer;
		position: relative;
		z-index: 99998;
	}
	.widget_fb_left .icon {
		float: right;
		height: 59px;
		width: 44px;
		right: -44px;
		background: #3b5998 url("../images/fb_icon.png") center center no-repeat;
		cursor: pointer;
		position: relative;
		z-index: 99998;
	}
	.widget_fb_right .facebook_box {
		background-color: #FFFFFF;
		border: 4px solid #3B5998;
		float: right;
		top: -59px;
		position: relative;
		z-index: 99999;
	}
	.widget_fb_left .facebook_box {
		background-color: #FFFFFF;
		border: 4px solid #3B5998;
		float: left;
		top: -59px;
		position: relative;
		z-index: 99999;
	}
	.facebook_box .fb_iframe_widget {
		margin: 0px;
		padding: 0px;
	}
	.facebook_box a {
		position: absolute;
		bottom: 15px;
		color: gray;
		font-size: 9px;
		left: 29px;
		line-height: 12px;
	}
	.facebook_box a:hover {
		text-decoration: underline !important;
		color: gray !important;
	}
	/*Twitter widget*/
	.widget_twitter_right {
		width: 245px;
		position: fixed;
		right: -245px;
		top: 123px;
		z-index: 99997;
	}
	.widget_twitter_left {
		width: 245px;
		position: fixed;
		left: -245px;
		top: 185px;
		z-index: 99997;
	}
	.widget_twitter_right .icon {
		float: left;
		height: 59px;
		width: 44px;
		left: -44px;
		background: #62bdb2 url("../images/twitter_icon.png") center center no-repeat;
		cursor: pointer;
		position: relative;
		z-index: 99998;
	}
	.widget_twitter_left .icon {
		float: right;
		height: 59px;
		width: 44px;
		right: -44px;
		background: #62bdb2 url("../images/twitter_icon.png") center center no-repeat;
		cursor: pointer;
		position: relative;
		z-index: 99998;
	}
	.widget_twitter_right .twitter_box {
		background-color: #FFFFFF;
		border: 4px solid #62bdb2;
		float: right;
		top: -59px;
		position: relative;
		z-index: 99999;
	}
	.widget_twitter_left .twitter_box {
		background-color: #FFFFFF;
		border: 4px solid #62bdb2;
		float: left;
		top: -59px;
		position: relative;
		z-index: 99999;
        right: 70px;
	}
	.twitter_box span.mt_twitter_icon {
		background: url(../images/twittericon.png) no-repeat 0% 13%;
		float: left;
		margin: 0 0 10px 15px;
		padding: 0 0 13px 20px;
		font-size: 10px;
		color: gray;
	}
	.twitter_box a {
		color: gray;
		font-size: 10px;
		line-height: 12px;
	}.twitter_box a:hover {
		text-decoration: underline;
		color: gray;
	 }
	#mt-twitter-widget {
		margin: 0;
		outline: none;
		padding: 15px;
		text-align: left;
	}

	#mt-twitter-widget a {
		outline: none;
		color: #838383;
	}

	#mt-twitter-widget .icontwitter {
		border-bottom: 1px solid #e4e4e4;
		height: 30px;
		line-height: 30px;
		margin: 0;
		padding: 0;
		padding: 0;
		text-align: left;
	}

	#mt-twitter-widget .icontwitter span.mt-icon {
		background: url("../images/icon-twitter.png") no-repeat 0 0;
		height: 18px;
		margin: 0 8px 0 0;
		width: 22px;
	}

	#mt-twitter-widget .icontwitter span {
		height: 18px;
		line-height: 18px;
	}
	.twitter_box .tw_title {
		text-transform: uppercase;
		text-align: left;
		font-size: 16px;
		padding: 8px 0px;
		border-bottom: #dfdfdf solid 1px;
		margin: 0 15px;
	}

