
/* Reset ================================================================================= */
* { margin:0; padding:0; }

body          {
	text-align: center;
}

img           { border:0; vertical-align:top; }

a             { outline: none;}
a:hover       { outline: none;}
:focus        { outline:0; }
a:active {
outline: none;
}
/* Headings */
h1,h2,h3,
h4,h5,h6      { margin:0 0 5px; line-height:130%;  }

/* Forms */
form          { display:inline; }
fieldset      { border:0; }

/* Table */
table         { border:0; /*border-collapse:collapse;*/ border-spacing:0; empty-cells:show; font-size:100%; }
caption,th,td { vertical-align:top; text-align:left;  }

/* Content */
p             { margin:0 0 10px; }
strong        {  }
address       { font-style:normal; line-height:1.35; }
cite          { font-style:normal; }
q,
blockquote    { quotes:none; }
q:before,
q:after       { content:''; }
small,big     {  }
/*sup           {  vertical-align:top; }*/

/* Lists */
ul,ol         { list-style:none; }

/* Tools */
.a-right      { text-align:right !important; }
.v-middle     { vertical-align:middle; }
.f-left,
.left         { float:left !important; }
.right        { float:right !important; }
.f-fix        { float:left; width:100%; }
.no-display   { display:none; }
/* ======================================================================================= */


/* Global Styles ========================================================================= */
/* Form Elements */
input,select,textarea,button { vertical-align:middle; }
input.input-text,textarea { padding:1px; }
select { padding:0px; }
select option { padding-right:10px; }
textarea { overflow:auto; }
input.qty { width:2.5em; }
/*button.button::-moz-focus-inner { padding:0; border:0; }*/ /* FF Fix */
button.button { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
button.button { overflow:visible; width:auto; border:0; padding:0; margin:0; cursor:pointer; }
button.button span { display:block; height:19px; border:0; padding:0 8px;  text-align:center; white-space:nowrap;  }
button.button span span { border:0; padding:0; }

/*
button.btn-checkout.no-checkout span { background-position:0 100%;  }
button.btn-checkout.no-checkout span span { background-position:100% 100%; }
*/


/*.highlight { background:#efefef; }*/

/* Form lists */
/* Grouped fields */
/*.form-list { width:535px; margin:0 auto; overflow:hidden; }*/
.form-list li { margin:0 0 8px; }
.form-list label { float:left;  position:relative; z-index:0; }
.form-list label.required {}
/*.form-list li.fields { margin-right:-15px; }*/
.form-list input.input-text { width:254px; }
/* Customer */











/*.buttons-set { clear:both; margin:4em 0 0; padding:8px 0 0; border-top:1px solid; text-align:right; }*/

.buttons-set {
	clear: both;
	margin: 10px 0 0;
	padding: 5px 0 0;
	text-align: right; }
.buttons-set button.button { float:right; margin-left:5px; }



/* Form Validation */
/* Expiration date and CVV number validation fix */

/* Global Messages  */

.note-msg { border-style:solid; border-width:1px; min-height: 16px; padding:4px 8px 4px 8px; }

/* BreadCrumbs */
.breadcrumbs {line-height:1.25; margin:0 0 5px; }
.breadcrumbs li { display:inline; }
.breadcrumbs li strong {  }

/* Page Heading */
.page-title { width:100%; overflow:hidden; margin:0 0 15px; }
.page-title h1 { margin:0;  }


/* Pager */
.pager {padding:4px 8px; text-align:center; }
.pager .limiter { float:right; }
.pager .limiter label { vertical-align:middle; }
.pager .limiter select { padding:0; margin:0 0 1px; vertical-align:middle; }
.pager .pages { margin:0 140px; }
.pager .pages ol { display:inline; }
.pager .pages li { display:inline; margin:0 2px; }
.pager .pages .current {}

/* Sorter */

/* Toolbar */
.toolbar {}
.toolbar .pager { padding:3px 8px;  }
.toolbar-bottom {}

/* Data Table */
/*.data-table tr.odd:hover,
.data-table tr.even:hover { background:#ebf1f6; }*/



/* Bundle products tables */


/* Generic Info Box */


/* Shopping cart total summary row expandable to details */


/* Shopping cart tax info */

/* Class: std - styles for admin-controlled content */

/* Misc commented out for mod theme
.links li { display:inline; }
.links li.first { padding-left:0 !important; }
.links li.last { background:none !important; padding-right:0 !important; }*/





/* Noscript Notice */

/* Header */
.logo { float:left; }
.header-container {}
.header { width: 100%; margin:0 auto; padding:0px; text-align:right; position:relative; z-index:10; }
.header .logo { float:left; text-decoration:none !important; }
.header .logo strong { position:absolute; top:-999em; left:-999em; width:0; height:0; font-size:0; line-height:0; 
text-indent:-999em; overflow:hidden; }




/* Navigation */
.nav-container {
	
}
/* All Levels */ /* Style consistent throughout all nav levels */

/* 0 Level */

/* 1st Level */


/* 2nd Level */

/* 3rd+ Level */


/* Show menu */

/*1.4.1.0*/
/* Show menu */

/* Sidebar =============================================================================== */
.block { margin:0 0 15px; }
.block .block-title { }
.block .block-title strong { display:block; min-height:16px; padding:1px 0 1px;  }
.block .block-title strong span {}
.block .block-subtitle { margin:0; padding:5px 9px;  }
.block .block-content {  }
.block .block-content li.item { padding:7px 9px; }
.block .block-content .product-name {  }
.block .empty { margin:0;  }



/* Mini Blocks */
.block-cart,
.block-viewed,
.block-related {line-height:1.25; }
.block-cart .block-title strong,
.block-viewed .block-title strong,
.block-related .block-title strong {  background-position:0 0; background-repeat:no-repeat; padding-left:0px; }

/* Mini Products List */
.mini-products-list .product-image { float:left; width:50px; border:1px solid; }
.mini-products-list .product-details { margin-left:60px; }

/* Block: Account */

/* Block: Currency Switcher */

/* Block: Layered Navigation */
.block-layered-nav { border:0; }
.block-layered-nav dt {  padding:7px 0px 0 0px; }
.block-layered-nav dd {   }
.block-layered-nav dd.last { background:none; }

/* Block: Cart */
.block-cart .block-title {  }
.block-cart .block-title strong {  }

/* Block: Wishlist */

/* Block: Related */
.block-related .block-title strong {  }
.block-related .product { margin-left:20px; }

/* Block: Compare Products */


/* Block: Recently Viewed */
.block-viewed .block-title strong {  }

/* Block: Recently Compared */

/* Block: Poll */

/* Block: Tags */

/* Block: Subscribe */

/* Block: Reorder */

/* Block: Banner */

/* Block: Login */

/* Paypal */
/* ======================================================================================= */


/* Category Page ========================================================================= */
.category-products {}

/* ======================================================================================= */


/* Product View ========================================================================== */
/* Rating */



/* Availability */
.availability { margin:0; }
.availability span {  }
.availability.in-stock span {}



.product-view .product-shop .availability {}
.product-view .product-shop .availability span {  }

/* Email to a Friend */

/* Alerts */

/********** < Product Prices */
.price { white-space:nowrap !important; }

.price-box { margin:5px 0; }
.price-box .price {   }

/* Regular price */
.regular-price {  }
.regular-price .price {   }
.block .regular-price,
.block .regular-price .price {  }

/* Old price */

/* Special price */

/* Minimal price (as low as) */


/* Excluding tax */

/* Including tax */

/* FPT */

/* Excl tax (for order tables) */

/* Incl tax (for order tables) */

/* Price range */


/* Price notice next to the options */

/* Price as configured */

/********** Product Prices > */

/* Tier Prices */


/* Add to Links */

/* Add to Cart */
.add-to-cart label { float:left; margin-right:5px; }
.add-to-cart .qty { float:left; margin-right:5px; }
.add-to-cart button.button { float:left; }

/* Add to Links + Add to Cart */





.product-collateral { padding:10px 25px 10px 25px; }
.product-collateral h2 { padding:0 0 1px; margin:0 0 5px; }

/* Product Images */
.product-view .product-img-box { float:left; width:267px; }
.col3-layout .product-view .product-img-box { float:none; margin:0 auto; }


/* Product Shop */
.product-view .product-shop { float:right; width:330px; }
.col3-layout .product-view .product-shop { float:none; width:auto; }
.product-view .product-shop .product-name { margin:0 0 5px; }
.product-view .product-shop .product-name h1 { margin:0;  }
.product-view .product-shop .short-description { margin:10px 0; background:url(../images/bkg_divider1.gif) 0 0 repeat-x; padding:10px 0 0; }
.product-view .product-shop .price-box { margin:10px 0; }

/* Product Options */


/* Grouped Product */

/* Block: Description */

/* Block: Additional */

/* Block: Upsell */

/* Block: Tags */

/* Block: Reviews */

/* Send a Friend */
/* ======================================================================================= */


/* Content Styles ================================================================= */
.product-name { margin:0;   }
.product-name a {  }

/* Product Tags */

/* Advanced Search */

/* CMS Home Page */

/* Sitemap */

/* RSS */
/* ======================================================================================= */


/* Shopping Cart ========================================================================= */
.cart-empty {margin-left: 40px}

/* Checkout Types */

/* Shopping Cart Table */


/* Shopping Cart Collateral boxes */


/* Discount Codes & Estimate Shipping and Tax Boxes */




/* Shopping Cart Totals */

/* Options Tool Tip */
/* ======================================================================================= */


/* Checkout ============================================================================== */
/********** < Common Checkout Styles */
/* Shipping and Payment methods */




/* Tooltip */

/* Gift Messages */


/* Checkout Agreements */


/* Centinel */


/* Generic Info Set */
/********** Common Checkout Styles > */

/* One Page Checkout */




/*.opc .allow .step-title a { display:block; }*/

/*.opc .active .step-title a { display:none; }*/





/* Multiple Addresses Checkout */






/* Step 1 */

/* Step 2 */

/* Step 3 */
/* ======================================================================================= */


/* Account Login/Create Pages ============================================================ */
.account-login .content { min-height:240px; padding:14px 21px; border:1px solid; border-bottom:0; }
.account-login .content h2 {   margin:0 0 14px; padding:0 0 5px 0px; border-bottom:1px solid; 
background-position:0 1px; background-repeat:no-repeat;   }
.account-login .new-users h2 { }
.account-login .registered-users h2 { }
.account-login .buttons-set { border:1px solid; border-top:0; margin:0; padding:8px 13px;}

/* Account Login/Create Pages ============================================================ */


/* My Account ============================================================================= */

/********** < Dashboard */

/* General Box */


/* Block: Recent Orders */

/* Block: Account Information */

/* Block: Reviews */

/* Block: Tags */
/********** Dashboard > */

/* Address Book */

/* Order View */








/* Order Print Pages */
/* Price Rewrites */

/* My Wishlist */


/* My Tags */

/* My Reviews */


/* Billing Agreements */
/* ======================================================================================= */

/* Footer NEW NEW ================================================================================ */

.container {
width: 930px;
margin-left: auto;
margin-right: auto;
padding-left: 30px;
padding-right: 30px;
}












li {
display: list-item;
text-align: -webkit-match-parent;
}



.container {
margin-left: auto;
margin-right: auto;

}





.span2, .span3, .span4, .span8, .span9, .span10 {
float: left;
margin-left: 50px;
}



a:visited {
color: /* replacementer: color_accents/css */#fff/* :replacementer */;
text-decoration: none;
}



.ui_centered {
display: block;
width: 980px;
margin: 0px auto !important;
padding: 0px !important;
position: relative;
}






/* Block: Subscribe */



/* Widget: Social Links */



/* //Social Links */



/* Sample Data============================================================================ */
/* ======================================================================================= */



/* Contact us page ================================================================================ */
