/* Doubled Margin Fixes */
.product-view .product-img-box .more-views li, .product-view .box-tags .form-add .input-box, .sp-methods select.month {
	display:inline;
}
/********** < Navigation styles */
#nav li, #nav li a {
	zoom:1;
}
#nav li {
	vertical-align:top;
}
/********** < Navigation styles */

select {
	margin-bottom:1px;
}
input.radio {
	width:13px;
	height:13px;
}
input.checkbox {
	width:13px;
	height:13px;
}
#opc-review .sp-methods .input-box {
	float:left;
}
.form-list label {
	position:relative;
	z-index:0;
}
.form-list label.required em {
	position:absolute;
	top:0;
	right:-8px;
}
table {
scrollbar-face-color:expression(runtimeStyle.scrollbarFaceColor = '#fff', cellSpacing = 0);
}
.product-view .product-img-box .zoom.disabled {
	filter:alpha(opacity=30);
}
.gift-messages-form {
	position:relative;
	zoom:1;
}
.tool-tip .btn-close a {
	margin:0;
}
.product-view .box-tags .product-tags li, .footer li {
	padding:0 4px 0 7px;
}
.product-options dd .time-picker select {
	margin:0;
	padding:0;
}
/* Clearer */
.clearer {
	display:block;
	clear:both;
	font-size:0;
	line-height:0;
	height:0;
	overflow:hidden;
}
.checkout-agreements .discount {
	clear: both;
}
/* Clears and hasLayout fixes */
.header-container, .header-container .top-container, .header, .header .quick-access, #nav, .main, .footer, .footer-container .bottom-container, .col-main, .col2-set, .col3-set, .col3-layout .product-options-bottom .price-box, .col4-set, .messages li, .search-autocomplete li, .block, .block .block-content, .block .actions, .block li.item, .block-poll li, .block-poll .label, .block-layered-nav .currently li, .block-account .block-content li a, .mini-products-list .product-details, .page-title, .rss-title h1, .products-grid, .products-list li.item, .box-account .box-head, .dashboard .box .box-title, .box-reviews li.item, .box-tags li.item, .pager, .sorter, .ratings, .add-to-box, .add-to-cart, .product-essential, .product-collateral, .product-view .product-img-box .more-views ul, .product-view .box-tags .form-add, .product-view .product-shop .short-description, .product-view .box-description, .product-options .options-list li, .product-options, .product-options-bottom, .truncated, .truncated .truncated_full_value, .product-review, .cart, .cart-collaterals, .cart .crosssell li.item, .cart .discount, .opc .step-title, .opc .step, .multiple-checkout, .sp-methods, .checkout-progress, .multiple-checkout .place-order, .form-list li, .form-list .field, .group-select li, .buttons-set, .page-print .print-head, .cart-tax-total, .advanced-search-summary, .advanced-search-summary p, .gift-messages-form .item, .send-friend .form-list li p, .centinel .authentication {
	zoom:1;
}
/* Hover Fix */
iframe.hover-fix {
	position:absolute;
	left:-1px;
	top:-1px;
	z-index:-1;
	background:transparent;
filter:progid:DXImageTransform.Microsoft.Alpha(style=0, opacity=0);
}
/************************************************************************IE7 styles*********************************************************/

/*4 banners*/
*:first-child+html div.four div {
	width: 24%;
	padding: 0 0% 0 0%;
}

*:first-child+html .block-cart-top {
	display: none;
}
.block-title strong  {
	font-size: 12px  !important;
}
.block-blog .block-title strong  {
	background: none !important;
	padding-left: 3% !important;
}
.block-blog .menu-categories ul li, .block-blog .menu-recent ul li {
	margin-left: 0px !important;
	margin-bottom: 5px;
}
.top_toolbar_container .welcome-msg {
	width: 99% !important;
}
*:first-child+html .col3-layout .col-left {
	width: 21%;
	padding-left: 1%;
	padding-right: 1%;
}
*:first-child+html .page {
	width: 1200px;
}
*:first-child+html .col2-left-layout .col-main, *:first-child+html .col2-right-layout .col-main {
	width: 920px;
}
*:first-child+html .products-grid .actions {
	text-align: left !important;
	margin-left: -40px !important;
}
*:first-child+html .products-grid .add-to-links, *:first-child+html .products-grid .add-to-links li {
	clear: both !important;
	margin-left: 0 !important;
	text-align: left !important;
}
*:first-child+html div.wp-custom-menu-popup {
	overflow: hidden;
}
*:first-child+html div.wp-custom-menu-popup {
	background-color: #f1f1f1  !important;
	background-image: none !important;
}
div.wp-one-page-checkout-popup.opc .active .step-title .number, #popup-onepagecheckout-error_btn_close {
background-image: url(data:image/gif;base64,R0lGODlhFAASAOYAAP39/ba2t8DAwbe3uPX19cHBwru7vbW1tv7+/vDw8Ojo6fLy8+3t7fHx8dra2re3t8HBwdDQ0dbW18PDw9TU1fPz89LS09vb29HR0t3d3u7u79zc3PPz9Ofn57y8vr+/wPj4+dXV1crKy8XFxsjIycvLzO7u7sLCw9LS0vv7+9fX1+Tk5d3d3fj4+Ozs7NnZ2b6+v/7+/cfHx9fX2L+/v7q6vLe3ufT09L29vcnJyri4ub29vrm5urq6u////7u7vLy8vQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAAUABIAAAfsgBUUBUA/hj+FiYc/BTMEFwNAPYhAiomVPZIUIjyGlTWViKKIkz8TOTqFPzo0OodAPJWdkjsksT8DEi0XDz87OgINDQKZPzg5sUABKz4+LA82EBXNI6m+yIWZDM0bAhw+ABiphTvYkzwGJj4IIOsWB57Xt6Q9LggxABEH2eTmiDwfEjQD4CDSj2LlbgEBdsNHigXNHASIl7AQDwgQw/XQ0OzFOHmVAnQAZyFADwPbfMiwVnFVhAQo9sHyoEABDISoVHWyRopHj1I9dpToRMlApVBHJRWakCFSqUVQDx5UQSBEgR1Jsx79cUICgUAAOw==)  !important;
}