<?xml version="1.0"?>
<!--
/******************************************************
 * @package MT Slideshow module for Magento 1.4.x.x, Magento 1.5.x.x and Magento 1.6.x.x
 * @version 2.0.0
 * @author http://www.magentheme.com
 * @copyright (C) 2011- MagenTheme.Com
 * @license PHP files are GNU/GPL
*******************************************************/
-->
<config>
    <modules>
        <MagenThemes_Mtslideshow>
            <version>2.0.17</version>
        </MagenThemes_Mtslideshow>
    </modules>
    <frontend>
        <routers>
            <mtslideshow>
                <use>standard</use>
                <args>
                    <module>MagenThemes_Mtslideshow</module>
                    <frontName>mtslideshow</frontName>
                </args>
            </mtslideshow>
        </routers>
        <layout>
            <updates>
                <mtslideshow>
                    <file>mtslideshow.xml</file>
                </mtslideshow>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
	    <mtslideshow>
		<use>admin</use>
		<args>
		    <module>MagenThemes_Mtslideshow</module>
		    <frontName>mtslideshow</frontName>
		</args>
	    </mtslideshow>
        </routers>
    </admin>
    <adminhtml>
	<layout>
	    <updates>
		<mtslideshow>
		    <file>mtslideshow.xml</file>
		</mtslideshow>
	    </updates>
	</layout>
    </adminhtml>   
    <global>
        <models>
            <mtslideshow>
                <class>MagenThemes_Mtslideshow_Model</class>
                <resourceModel>mtslideshow_mysql4</resourceModel>
            </mtslideshow>
            <mtslideshow_mysql4>
                <class>MagenThemes_Mtslideshow_Model_Mysql4</class>
                <entities>
                    <mtslideshow>
                        <table>mtslideshow_slide</table>
                    </mtslideshow>
		    <category>
			<table>mtslideshow_category</table>
		    </category>
		    <page>
			<table>mtslideshow_page</table>
		    </page>
		    <image>
			<table>mtslideshow_image</table>
		    </image>
		    <store>
			<table>mtslideshow_store</table>
		    </store>
                </entities>
            </mtslideshow_mysql4>
        </models>
        <resources>
            <mtslideshow_setup>
                <setup>
                    <module>MagenThemes_Mtslideshow</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mtslideshow_setup>
            <mtslideshow_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mtslideshow_write>
            <mtslideshow_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mtslideshow_read>
        </resources>
        <blocks>
            <mtslideshow>
                <class>MagenThemes_Mtslideshow_Block</class>
            </mtslideshow>
        </blocks>
        <helpers>
            <mtslideshow>
                <class>MagenThemes_Mtslideshow_Helper</class>
            </mtslideshow>
        </helpers>
	<events>
	    <controller_action_layout_generate_blocks_after>
		<observers>
		    <mtslideshow_layout_generate_observer>
		    <type>singleton</type>
		    <class>mtslideshow/layout_generate_observer</class>
		    <method>addJsCss</method>
		    </mtslideshow_layout_generate_observer>
		</observers>
	    </controller_action_layout_generate_blocks_after>
	</events>		
    </global>
    <default>
	<mtslideshow>
	    <mtslideshow_config>
            <enabled>1</enabled>
            <quality>90</quality>
            <width_thumbnail>100</width_thumbnail>
            <height_thumbnail>50</height_thumbnail>
            <speed_show>4000</speed_show>
        </mtslideshow_config>
        <slider_settings>
			<flexslider_animation>slide</flexslider_animation>
            <flexslider_auto>1</flexslider_auto>
            <flexslider_smoothheight>0</flexslider_smoothheight>
            <flexslider_animation_loop>1</flexslider_animation_loop>
            <flexslider_mousewheel>0</flexslider_mousewheel>
            <flexslider_smoothheight>0</flexslider_smoothheight>
            <flexslider_slideshow_speed>7000</flexslider_slideshow_speed>
            <flexslider_animation_speed>800</flexslider_animation_speed>
            <flexslider_control_nav>0</flexslider_control_nav>
            <flexslider_direction_nav>1</flexslider_direction_nav>
            <cooslider_auto>1</cooslider_auto>
            <cooslider_anim_speed>1000</cooslider_anim_speed>
            <cooslider_interval>4000</cooslider_interval>
            <cooslider_delay>400</cooslider_delay>
            <cooslider_pause_hover>1</cooslider_pause_hover>
            <cooslider_touch>1</cooslider_touch>
            <cooslider_same_random_text>1</cooslider_same_random_text>
            <cooslider_mousewheel>1</cooslider_mousewheel>
            <cooslider_responsive>1</cooslider_responsive>
            <cooslider_keyboard>1</cooslider_keyboard>
			<cooslider_pagenav>0</cooslider_pagenav>
			<cooslider_direction>1</cooslider_direction>
			<cooslider_title>1</cooslider_title>
			<cooslider_desc>1</cooslider_desc>
			<cooslider_more>1</cooslider_more>
            <onebyone_auto>1</onebyone_auto>
            <onebyone_anim_speed>5000</onebyone_anim_speed>
            <onebyone_pagenav>0</onebyone_pagenav>
            <onebyone_direction>1</onebyone_direction>
            <onebyone_title>1</onebyone_title>
            <onebyone_desc>1</onebyone_desc>
            <onebyone_more>1</onebyone_more>
	    </slider_settings>
	</mtslideshow>
    </default>
</config>