<?xml version="1.0"?>
<config>
    <modules>
        <Mirasvit_MCore>
            <version>1.0.0</version>
        </Mirasvit_MCore>
    </modules>
    <global>
        <blocks>
            <mcore>
                <class>Mirasvit_MCore_Block</class>
            </mcore>
        </blocks>
        <models>
            <mcore>
                <class>Mirasvit_MCore_Model</class>
            </mcore>
        </models>
        <helpers>
            <mcore>
                <class>Mirasvit_MCore_Helper</class>
            </mcore>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <mcore module="Mirasvit_MCore">
                    <file>mcore.xml</file>
                </mcore>
            </updates>
        </layout>
       <translate>
            <modules>
                <Mirasvit_MCore>
                    <files>
                        <default>Mirasvit_MCore.csv</default>
                    </files>
                </Mirasvit_MCore>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mcore_store translate="title" module="translate">
                                            <title>Mirasvit Extensions Store</title>
                                        </mcore_store>                                    
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <controller_action_predispatch>
                <observers>
                    <mcore_extension>
                        <type>singleton</type>
                        <class>mcore/feed_updates</class>
                        <method>check</method>
                    </mcore_extension>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>        
    <frontend>
       <translate>
            <modules>
                <Mirasvit_MCore>
                    <files>
                        <default>Mirasvit_MCore.csv</default>
                    </files>
                </Mirasvit_MCore>
            </modules>
        </translate>
    </frontend>
</config>
