<?xml version="1.0"?>
<config>
 <modules>
  <GoIvvy_DeferJS>
   <version>1.0.0.0</version>  
  </GoIvvy_DeferJS> 
 </modules>
 <global>
  <models>
   <goivvy_deferjs>
    <class>GoIvvy_DeferJS_Model</class> 
   </goivvy_deferjs> 
  </models> 
  <blocks>
   <goivvy_deferjs>
     <class>GoIvvy_DeferJS_Block</class> 
   </goivvy_deferjs>
   <page>
    <rewrite>
      <html_head>GoIvvy_DeferJS_Block_Page_Html_Head</html_head> 
    </rewrite> 
   </page> 
  </blocks>
  <helpers>
   <goivvy_deferjs>
     <class>GoIvvy_DeferJS_Helper</class> 
   </goivvy_deferjs> 
  </helpers>
 </global>
 <frontend>
  <layout>
   <updates>
    <goivvy_deferjs>
     <file>goivvy_deferjs.xml</file> 
    </goivvy_deferjs> 
   </updates> 
  </layout> 
  <events>
    <core_block_abstract_to_html_after>
      <observers>
        <goivvy_deferjs_html_filter>
          <class>goivvy_deferjs/observer</class>
          <method>filterHtml</method>
        </goivvy_deferjs_html_filter>
      </observers>   
    </core_block_abstract_to_html_after> 
    <controller_action_layout_load_before> 
      <observers>
         <goivvy_deferjs_add_custom_content>
           <type>singleton</type>
           <class>goivvy_deferjs/observer</class>
           <method>addBlockToTheEnd</method>            
         </goivvy_deferjs_add_custom_content>       
      </observers>    
    </controller_action_layout_load_before>
  </events> 
 </frontend>
 <adminhtml>
  <layout>
   <updates>
    <goivvy_deferjs>
      <file>goivvy_deferjs.xml</file> 
    </goivvy_deferjs> 
   </updates> 
  </layout>
  <events>
    <core_block_abstract_to_html_after>
      <observers>
        <goivvy_deferjs_html_filter>
          <class>goivvy_deferjs/observer</class>
          <method>filterHtml</method>
        </goivvy_deferjs_html_filter>
      </observers>   
    </core_block_abstract_to_html_after> 
    <controller_action_layout_load_before> 
      <observers>
         <goivvy_deferjs_add_custom_content>
           <type>singleton</type>
           <class>goivvy_deferjs/observer</class>
           <method>addBlockToTheEnd</method>            
         </goivvy_deferjs_add_custom_content>       
      </observers>    
    </controller_action_layout_load_before>
  </events> 
  <acl>
    <resources>
      <all>
        <title>Allow Everything</title>
      </all> 
      <admin>
        <children>
          <system>
            <children>
              <config>
                <children>
                  <deferjs>
                    <title>GoIvvy DeferJS Configuration</title>
                  </deferjs>    
                </children>  
              </config> 
            </children>   
          </system>      
        </children>    
      </admin>
    </resources> 
  </acl>
 </adminhtml>
</config>
