<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Mirasvit_AsyncIndex>
            <active>true</active>
            <version>1.0.1</version>
        </Mirasvit_AsyncIndex>
    </modules>
    <global>
        <models>
            <asyncindex>
                <class>Mirasvit_AsyncIndex_Model</class>
            </asyncindex>
            <index>
                <rewrite>
                    <process>Mirasvit_AsyncIndex_Model_Process</process>
                </rewrite>
            </index>
        </models>
        <helpers>
            <asyncindex>
                <class>Mirasvit_AsyncIndex_Helper</class>
            </asyncindex>
        </helpers>
        <blocks>
            <asyncindex>
                <class>Mirasvit_AsyncIndex_Block</class>
            </asyncindex>
        </blocks>
        <events>
            <tools_clearcache_cli>
                <observers>
                    <asyncindex>
                        <type>singleton</type>
                        <class>asyncindex/cleaner</class>
                        <method>processQueue</method>
                    </asyncindex>
                </observers>
            </tools_clearcache_cli>
        </events>
    </global>
    <frontend>
        <routers>
            <Mirasvit_AsyncIndex>
                <use>standard</use>
                <args>
                    <module>Mirasvit_AsyncIndex</module>
                    <frontName>asyncindex</frontName>
                </args>
            </Mirasvit_AsyncIndex>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mirasvit_AsyncIndex before="Mage_Adminhtml">Mirasvit_AsyncIndex_Adminhtml</Mirasvit_AsyncIndex>
                        <Mirasvit_AsyncIndexIndex before="Mage_Index">Mirasvit_AsyncIndex_Adminhtml</Mirasvit_AsyncIndexIndex>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <asyncindex>
                    <file>asyncindex.xml</file>
                </asyncindex>
            </updates>
        </layout>
        <acl>
            <all>
                <title>Allow Everything</title>
            </all>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <asyncindex>
                                            <title>Fast Asynchronous Re-indexing</title>
                                        </asyncindex>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <asyncindex>
            <general>
                <full_reindex>1</full_reindex>
                <change_reindex>1</change_reindex>
                <validate_index>1</validate_index>
            </general>
        </asyncindex>
    </default>
    <crontab>
        <jobs>
            <asyncindex>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>asyncindex/observer::process</model>
                </run>
            </asyncindex>
        </jobs>
    </crontab>
</config>