<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <asyncindex translate="label" module="asyncindex">
            <label>Fast Asynchronous Re-indexing</label>
            <tab>mcore</tab>
            <frontend_type>text</frontend_type>
            <sort_order>500</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <general>
                    <label>General Settings</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <sort_order>10</sort_order>
                    <fields>
                        <full_reindex translate="label">
                            <label>Asynchronous full reindex</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </full_reindex>
                        <change_reindex translate="label">
                            <label>Asynchronous reindex for changes</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </change_reindex>
                        <validate_index translate="label">
                            <label>Validate catalog index</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </validate_index>
                    </fields>
                </general>
            </groups>
        </asyncindex>
    </sections>
</config>