<?xml version="1.0"?>
<config>
    <tabs>
        <web_and_people translate="label" module="backtotopbutton">
            <label>Web-And-People</label>
            <sort_order>150</sort_order>
        </web_and_people>
    </tabs>
    <sections>
        <backtotopbutton translate="label" module="backtotopbutton">
            <label>Back to Top Button</label>
            <tab>web_and_people</tab>
            <frontend_type>text</frontend_type>
            <sort_order>200</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <disabled_by_regexp translate="label">
                            <label>Disable by Regexp</label>
                            <comment><![CDATA[A regular expression string in the "Matched Expression" is compared with the browser user agent]]></comment>
                            <frontend_model>backtotopbutton/system_config_form_field_array_regexceptions</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </disabled_by_regexp>
                        <include_jquery translate="label comment">
                            <label>Include jQuery 1.8.3</label>
                            <comment>Your website pages might already have one jQuery instance enabled. In this case this value must be set to "No".</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </include_jquery>
                        <include_waypoints translate="label comment">
                            <label>Include jQuery Waypoints v2.0.2</label>
                            <comment>Your website pages might already have one Waypoints instance enabled. In this case this value must be set to "No".</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </include_waypoints>
                        <version translate="label">
                            <label>Extension Release</label>
                            <frontend_type>label</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </version>
                    </fields>
                </general>
            </groups>
        </backtotopbutton>
    </sections>
</config>
