<?xml version="1.0"?>  
<config>  
	<modules>  
		<Mageclub_HorizontalProductsSlider>  
			<version>0.1.0</version>  
		</Mageclub_HorizontalProductsSlider>  
	</modules>  
	<frontend>
		<translate>
			<modules>
				<Mageclub_HorizontalProductsSlider>
					<files>
						<default>Mageclub_HorizontalProductsSlider.csv</default>
					</files>
				</Mageclub_HorizontalProductsSlider>
			</modules>
		</translate>
		<layout>
			<updates>
				<horizontalproductsslider>
					<file>horizontalproductsslider.xml</file>
				</horizontalproductsslider>
			</updates>
		</layout>
	</frontend>	
	<global>  		     
		<blocks>  
			<mageclub_horizontalproductsslider>  
				<class>Mageclub_HorizontalProductsSlider_Block</class>  
			</mageclub_horizontalproductsslider>  
		</blocks> 		
		<models>  
			<mageclub_horizontalproductsslider>  
				<class>Mageclub_HorizontalProductsSlider_Model</class>  
			</mageclub_horizontalproductsslider>  
		</models>
		<helpers>  
			<mageclub_horizontalproductsslider>  
				<class>Mageclub_HorizontalProductsSlider_Helper</class>  
			</mageclub_horizontalproductsslider>  
		</helpers>	
	</global>  
	
	<adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mageclub_horizontalproductsslider>
                                            <title>Horizontal Products List</title>
                                        </mageclub_horizontalproductsslider>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
			<modules>
				<Mageclub_HorizontalProductsSlider>
					<files>
						<default>Mageclub_HorizontalProductsSlider.csv</default>
					</files>
				</Mageclub_HorizontalProductsSlider>
			</modules>
		</translate>
    </adminhtml>	
		
	<default>
        <mageclub_horizontalproductsslider>
            <mageclub_horizontalproductsslider>
                <show>1</show>                
                <title>Horizontal Products Slider</title>                
                <jquery>1</jquery>                
                <width_slideshow>940</width_slideshow>                
                <height>100</height>                
                <width>100</width>                
                <itemheight>200</itemheight>                
                <itemwidth>130</itemwidth>                
                <mode>latest</mode>              
                <!--<catid>0</catid>  -->            
                <quanlity>8</quanlity>
              
                <show_price>1</show_price>
                <show_cart>1</show_cart>
                <pagination>0</pagination>
                <scroll_last>1</scroll_last>
                <loop_items>1</loop_items>
                <autoplay>1</autoplay>
                <scroll_bar>0</scroll_bar>
                <no_items>4</no_items>
                <speed>400</speed>
                <delay>2000</delay>
            </mageclub_horizontalproductsslider>
        </mageclub_horizontalproductsslider>
    </default>
</config>  